Django==4.2.30
djangorestframework==3.14.0
django-cors-headers==4.3.0
djangorestframework-simplejwt==5.3.0
gunicorn==21.2.0
sqlparse==0.4.4
asgiref==3.7.2
psycopg2-binary==2.9.9
dj-database-url==2.1.0
python-dotenv==1.0.0
whitenoise==6.6.0
django-simpleui==2024.3.25